<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^(-|\+).*\n?\s</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<dict>
		<key>#import</key>
		<string>redColor</string>
		<key>IDTDefaultTokenName</key>
		<string>blackColor</string>
		<key>char</key>
		<string>blueColor</string>
		<key>const</key>
		<string>blueColor</string>
		<key>double</key>
		<string>blueColor</string>
		<key>enum</key>
		<string>blueColor</string>
		<key>float</key>
		<string>blueColor</string>
		<key>int</key>
		<string>blueColor</string>
		<key>long</key>
		<string>blueColor</string>
		<key>short</key>
		<string>blueColor</string>
		<key>signed</key>
		<string>blueColor</string>
		<key>struct</key>
		<string>blueColor</string>
		<key>typedef</key>
		<string>blueColor</string>
		<key>union</key>
		<string>blueColor</string>
		<key>unsigned</key>
		<string>blueColor</string>
		<key>void</key>
		<string>blueColor</string>
		<key>id</key>
		<string>blueColor</string>
		<key>instancetype</key>
		<string>blueColor</string>
		<key>Class</key>
		<string>redColor</string>
		<key>SEL</key>
		<string>blueColor</string>
		<key>IMP</key>
		<string>blueColor</string>
		<key>BOOL</key>
		<string>blueColor</string>
		<key>auto</key>
		<string>redColor</string>
		<key>break</key>
		<string>redColor</string>
		<key>case</key>
		<string>blueColor</string>
		<key>continue</key>
		<string>blueColor</string>
		<key>default</key>
		<string>redColor</string>
		<key>do</key>
		<string>blueColor</string>
		<key>else</key>
		<string>blueColor</string>
		<key>extern</key>
		<string>blueColor</string>
		<key>for</key>
		<string>blueColor</string>
		<key>goto</key>
		<string>blueColor</string>
		<key>if</key>
		<string>blueColor</string>
		<key>register</key>
		<string>blueColor</string>
		<key>return</key>
		<string>blueColor</string>
		<key>sizeof</key>
		<string>blueColor</string>
		<key>static</key>
		<string>blueColor</string>
		<key>switch</key>
		<string>blueColor</string>
		<key>volatile</key>
		<string>blueColor</string>
		<key>while</key>
		<string>blueColor</string>
		<key>self</key>
		<string>redColor</string>
		<key>super</key>
		<string>blueColor</string>
		<key>@interface</key>
		<string>blueColor</string>
		<key>@implementation</key>
		<string>redColor</string>
		<key>@property</key>
		<string>redColor</string>
		<key>@synthesize</key>
		<string>redColor</string>
		<key>@dynamic</key>
		<string>redColor</string>
		<key>@protocol</key>
		<string>redColor</string>
		<key>@required</key>
		<string>blueColor</string>
		<key>@optional</key>
		<string>redColor</string>
		<key>@end</key>
		<string>redColor</string>
		<key>@private</key>
		<string>redColor</string>
		<key>@package</key>
		<string>purpleColor</string>
		<key>@protected</key>
		<string>redColor</string>
		<key>@public</key>
		<string>redColor</string>
		<key>@class</key>
		<string>redColor</string>
		<key>@selector</key>
		<string>redColor</string>
		<key>@encode</key>
		<string>redColor</string>
		<key>@defs</key>
		<string>redColor</string>
		<key>@try</key>
		<string>redColor</string>
		<key>@catch</key>
		<string>redColor</string>
		<key>@finally</key>
		<string>redColor</string>
		<key>@throw</key>
		<string>redColor</string>
		<key>@autoreleasepool</key>
		<string>redColor</string>
		<key>@synchronized</key>
		<string>redColor</string>
		<key>@compatibility_alias</key>
		<string>redColor</string>
		<key>IBOutlet</key>
		<string>purpleColor</string>
		<key>IBAction</key>
		<string>purpleColor</string>
		<key>true</key>
		<string>purpleColor</string>
		<key>false</key>
		<string>purpleColor</string>
		<key>TRUE</key>
		<string>purpleColor</string>
		<key>FALSE</key>
		<string>redColor</string>
		<key>YES</key>
		<string>blueColor</string>
		<key>NO</key>
		<string>blueColor</string>
		<key>NULL</key>
		<string>blueColor</string>
		<key>nil</key>
		<string>blueColor</string>
		<key>Nil</key>
		<string>redColor</string>
		<key>#define</key>
		<string>redColor</string>
		<key>#endif</key>
		<string>redColor</string>
		<key>#if</key>
		<string>blueColor</string>
		<key>#ifdef</key>
		<string>blueColor</string>
		<key>#ifndef</key>
		<string>blueColor</string>
		<key>unichar</key>
		<string>blueColor</string>
		<key>FoundationErrors</key>
		<string>redColor</string>
		<key>Foundation</key>
		<string>redColor</string>
		<key>NSAppleEventManagerSuspensionID</key>
		<string>purpleColor</string>
		<key>NSComparator</key>
		<string>purpleColor</string>
		<key>NSDecimal</key>
		<string>purpleColor</string>
		<key>NSHashEnumerator</key>
		<string>purpleColor</string>
		<key>NSHashTable</key>
		<string>purpleColor</string>
		<key>NSHashTableCallBacks</key>
		<string>purpleColor</string>
		<key>NSHashTableOptions</key>
		<string>purpleColor</string>
		<key>NSInteger</key>
		<string>orangeColor</string>
		<key>NSMapEnumerator</key>
		<string>purpleColor</string>
		<key>NSMapTable</key>
		<string>purpleColor</string>
		<key>NSMapTableKeyCallBacks</key>
		<string>purpleColor</string>
		<key>NSMapTableOptions</key>
		<string>purpleColor</string>
		<key>NSMapTableValueCallBacks</key>
		<string>purpleColor</string>
		<key>NSPoint</key>
		<string>purpleColor</string>
		<key>NSPointArray</key>
		<string>purpleColor</string>
		<key>NSPointPointer</key>
		<string>purpleColor</string>
		<key>NSRange</key>
		<string>orangeColor</string>
		<key>NSRangePointer</key>
		<string>orangeColor</string>
		<key>NSRect</key>
		<string>orangeColor</string>
		<key>NSRectArray</key>
		<string>orangeColor</string>
		<key>NSRectPointer</key>
		<string>orangeColor</string>
		<key>NSSize</key>
		<string>purpleColor</string>
		<key>NSSizeArray</key>
		<string>purpleColor</string>
		<key>NSSizePointer</key>
		<string>purpleColor</string>
		<key>NSSocketNativeHandle</key>
		<string>purpleColor</string>
		<key>NSStringEncoding</key>
		<string>purpleColor</string>
		<key>NSSwappedDouble</key>
		<string>purpleColor</string>
		<key>NSSwappedFloat</key>
		<string>purpleColor</string>
		<key>NSTimeInterval</key>
		<string>purpleColor</string>
		<key>NSUncaughtExceptionHandler</key>
		<string>purpleColor</string>
		<key>NSUInteger</key>
		<string>orangeColor</string>
		<key>NSZone</key>
		<string>purpleColor</string>
		<key>NSAffineTransform</key>
		<string>purpleColor</string>
		<key>NSAppleEventDescriptor</key>
		<string>purpleColor</string>
		<key>NSAppleEventManager</key>
		<string>purpleColor</string>
		<key>NSAppleScript</key>
		<string>purpleColor</string>
		<key>NSArchiver</key>
		<string>purpleColor</string>
		<key>NSArray</key>
		<string>purpleColor</string>
		<key>NSAssertionHandler</key>
		<string>purpleColor</string>
		<key>NSAttributedString</key>
		<string>purpleColor</string>
		<key>NSAutoreleasePool</key>
		<string>purpleColor</string>
		<key>NSBlockOperation</key>
		<string>purpleColor</string>
		<key>NSBundle</key>
		<string>purpleColor</string>
		<key>NSCache</key>
		<string>purpleColor</string>
		<key>NSCachedURLResponse</key>
		<string>purpleColor</string>
		<key>NSCalendar </key>
		<string>purpleColor</string>
		<key>NSCharacterSet</key>
		<string>purpleColor</string>
		<key>NSClassDescription</key>
		<string>purpleColor</string>
		<key>NSCloneCommand</key>
		<string>purpleColor</string>
		<key>NSCloseCommand</key>
		<string>purpleColor</string>
		<key>NSCoder</key>
		<string>purpleColor</string>
		<key>NSComparisonPredicate</key>
		<string>purpleColor</string>
		<key>NSCompoundPredicate</key>
		<string>purpleColor</string>
		<key>NSCondition</key>
		<string>purpleColor</string>
		<key>NSConditionLock</key>
		<string>purpleColor</string>
		<key>NSConnection</key>
		<string>purpleColor</string>
		<key>NSCountCommand</key>
		<string>purpleColor</string>
		<key>NSCountedSet</key>
		<string>purpleColor</string>
		<key>NSCreateCommand</key>
		<string>purpleColor</string>
		<key>NSData</key>
		<string>purpleColor</string>
		<key>NSDataDetector</key>
		<string>purpleColor</string>
		<key>NSDate</key>
		<string>purpleColor</string>
		<key>NSDateComponents</key>
		<string>purpleColor</string>
		<key>NSDateFormatter</key>
		<string>purpleColor</string>
		<key>NSDecimalNumber</key>
		<string>purpleColor</string>
		<key>NSDecimalNumberHandler</key>
		<string>purpleColor</string>
		<key>NSDeleteCommand</key>
		<string>purpleColor</string>
		<key>NSDictionary</key>
		<string>purpleColor</string>
		<key>NSDirectoryEnumerator</key>
		<string>purpleColor</string>
		<key>NSDistantObject</key>
		<string>purpleColor</string>
		<key>NSDistantObjectRequest</key>
		<string>purpleColor</string>
		<key>NSDistributedLock</key>
		<string>purpleColor</string>
		<key>NSDistributedNotificationCenter</key>
		<string>purpleColor</string>
		<key>NSEnumerator</key>
		<string>purpleColor</string>
		<key>NSError</key>
		<string>purpleColor</string>
		<key>NSException</key>
		<string>purpleColor</string>
		<key>NSExistsCommand</key>
		<string>purpleColor</string>
		<key>NSExpression</key>
		<string>purpleColor</string>
		<key>NSFileCoordinator</key>
		<string>purpleColor</string>
		<key>NSFileHandler</key>
		<string>purpleColor</string>
		<key>NSFileManager</key>
		<string>purpleColor</string>
		<key>NSFileVersion</key>
		<string>purpleColor</string>
		<key>NSFileWrapper</key>
		<string>purpleColor</string>
		<key>NSFormatter</key>
		<string>purpleColor</string>
		<key>NSGarbageCollector</key>
		<string>purpleColor</string>
		<key>NSGetCommand</key>
		<string>purpleColor</string>
		<key>NSHost</key>
		<string>purpleColor</string>
		<key>NSHTTPCookie</key>
		<string>purpleColor</string>
		<key>NSHTTPCookieStorage</key>
		<string>purpleColor</string>
		<key>NSHTTPURLResponse</key>
		<string>purpleColor</string>
		<key>NSIndexPath</key>
		<string>purpleColor</string>
		<key>NSIndexSet</key>
		<string>purpleColor</string>
		<key>NSIndexSpecifier</key>
		<string>purpleColor</string>
		<key>NSInputStream</key>
		<string>purpleColor</string>
		<key>NSInvocation</key>
		<string>purpleColor</string>
		<key>NSInvocationOperation</key>
		<string>purpleColor</string>
		<key>NSKeyedArchiver</key>
		<string>purpleColor</string>
		<key>NSKeyedUnarchiver</key>
		<string>purpleColor</string>
		<key>NSLinguisticTagger</key>
		<string>purpleColor</string>
		<key>NSLocale</key>
		<string>purpleColor</string>
		<key>NSLock</key>
		<string>purpleColor</string>
		<key>NSLogicalTest</key>
		<string>purpleColor</string>
		<key>NSMachBootstrapServer</key>
		<string>purpleColor</string>
		<key>NSMachPort</key>
		<string>purpleColor</string>
		<key>NSMessagePort</key>
		<string>purpleColor</string>
		<key>NSMessagePortNameServer</key>
		<string>purpleColor</string>
		<key>NSMetadataItem</key>
		<string>purpleColor</string>
		<key>NSMetadataQuery</key>
		<string>purpleColor</string>
		<key>NSMetadataQueryAttributeValueTuple</key>
		<string>purpleColor</string>
		<key>NSMetadataQueryResultGroup</key>
		<string>purpleColor</string>
		<key>NSMethodSignature</key>
		<string>purpleColor</string>
		<key>NSMiddleSpecifier</key>
		<string>purpleColor</string>
		<key>NSMoveCommand</key>
		<string>purpleColor</string>
		<key>NSMutableArray</key>
		<string>purpleColor</string>
		<key>NSMutableAttributedString</key>
		<string>purpleColor</string>
		<key>NSMutableCharacterSet</key>
		<string>purpleColor</string>
		<key>NSMutableData</key>
		<string>purpleColor</string>
		<key>NSMutableDictionary</key>
		<string>purpleColor</string>
		<key>NSMutableIndexSet</key>
		<string>purpleColor</string>
		<key>NSMutableOrderedSet</key>
		<string>purpleColor</string>
		<key>NSMutableSet</key>
		<string>purpleColor</string>
		<key>NSMutableString</key>
		<string>purpleColor</string>
		<key>NSMutableURLRequest</key>
		<string>purpleColor</string>
		<key>NSNameSpecifier</key>
		<string>purpleColor</string>
		<key>NSNetService</key>
		<string>purpleColor</string>
		<key>NSNetServiceBrowser</key>
		<string>purpleColor</string>
		<key>NSNotification</key>
		<string>purpleColor</string>
		<key>NSNotificationCenter</key>
		<string>purpleColor</string>
		<key>NSNotificationQueue</key>
		<string>purpleColor</string>
		<key>NSNull</key>
		<string>purpleColor</string>
		<key>NSNumber</key>
		<string>purpleColor</string>
		<key>NSNumberFormatter</key>
		<string>purpleColor</string>
		<key>NSObject</key>
		<string>purpleColor</string>
		<key>NSOperation</key>
		<string>purpleColor</string>
		<key>NSOperationQueue</key>
		<string>purpleColor</string>
		<key>NSOrderedSet</key>
		<string>purpleColor</string>
		<key>NSOrthography</key>
		<string>purpleColor</string>
		<key>NSOutputStream</key>
		<string>purpleColor</string>
		<key>NSPipe</key>
		<string>purpleColor</string>
		<key>NSPointerArray</key>
		<string>purpleColor</string>
		<key>NSPointerFunctions</key>
		<string>purpleColor</string>
		<key>NSPort</key>
		<string>purpleColor</string>
		<key>NSPortCoder</key>
		<string>purpleColor</string>
		<key>NSPortMessage</key>
		<string>purpleColor</string>
		<key>NSPortNameServer</key>
		<string>purpleColor</string>
		<key>NSPositionalSpecifier</key>
		<string>purpleColor</string>
		<key>NSPredicate</key>
		<string>purpleColor</string>
		<key>NSProcessInfo</key>
		<string>purpleColor</string>
		<key>NSPropertyListSerialization</key>
		<string>purpleColor</string>
		<key>NSPropertySpecifier</key>
		<string>purpleColor</string>
		<key>NSProtocolChecker</key>
		<string>purpleColor</string>
		<key>NSProxy</key>
		<string>purpleColor</string>
		<key>NSQuitCommand</key>
		<string>purpleColor</string>
		<key>NSRandomSpecifier</key>
		<string>purpleColor</string>
		<key>NSRangeSpecifier</key>
		<string>purpleColor</string>
		<key>NSRecursiveLock</key>
		<string>purpleColor</string>
		<key>NSRegularExpression</key>
		<string>purpleColor</string>
		<key>NSRelativeSpecifier</key>
		<string>purpleColor</string>
		<key>NSRunLoop</key>
		<string>purpleColor</string>
		<key>NSScanner</key>
		<string>purpleColor</string>
		<key>NSScriptClassDescription</key>
		<string>purpleColor</string>
		<key>NSScriptCoercionHandler</key>
		<string>purpleColor</string>
		<key>NSScriptCommand</key>
		<string>purpleColor</string>
		<key>NSScriptCommandDescription</key>
		<string>purpleColor</string>
		<key>NSScriptExecutionContext</key>
		<string>purpleColor</string>
		<key>NSScriptObjectSpecifier</key>
		<string>purpleColor</string>
		<key>NSScriptSuiteRegistry</key>
		<string>purpleColor</string>
		<key>NSScriptWhoseTest</key>
		<string>purpleColor</string>
		<key>NSSet</key>
		<string>purpleColor</string>
		<key>NSSetCommand</key>
		<string>purpleColor</string>
		<key>NSSocketPort</key>
		<string>purpleColor</string>
		<key>NSSocketPortNameServer</key>
		<string>purpleColor</string>
		<key>NSSortDescriptor</key>
		<string>purpleColor</string>
		<key>NSSpecifierTest</key>
		<string>purpleColor</string>
		<key>NSSpellServer</key>
		<string>purpleColor</string>
		<key>NSStream</key>
		<string>purpleColor</string>
		<key>NSString</key>
		<string>purpleColor</string>
		<key>NSTask</key>
		<string>purpleColor</string>
		<key>NSTextCheckingResult</key>
		<string>purpleColor</string>
		<key>NSThread</key>
		<string>purpleColor</string>
		<key>NSTimer</key>
		<string>purpleColor</string>
		<key>NSTimeZone</key>
		<string>purpleColor</string>
		<key>NSUbiquitousKeyValueStore</key>
		<string>purpleColor</string>
		<key>NSUnarchiver</key>
		<string>purpleColor</string>
		<key>NSUndoManager</key>
		<string>purpleColor</string>
		<key>NSUniqueIDSpecifier</key>
		<string>purpleColor</string>
		<key>NSURL</key>
		<string>purpleColor</string>
		<key>NSURLAuthenticationChallenge</key>
		<string>purpleColor</string>
		<key>NSURLCache</key>
		<string>purpleColor</string>
		<key>NSURLConnection</key>
		<string>purpleColor</string>
		<key>NSURLCredential</key>
		<string>purpleColor</string>
		<key>NSURLCredentialStorage</key>
		<string>purpleColor</string>
		<key>NSURLDownload</key>
		<string>purpleColor</string>
		<key>NSURLHandle</key>
		<string>purpleColor</string>
		<key>NSURLProtectionSpace</key>
		<string>purpleColor</string>
		<key>NSURLProtocol</key>
		<string>purpleColor</string>
		<key>NSURLRequest</key>
		<string>purpleColor</string>
		<key>NSURLResponse</key>
		<string>purpleColor</string>
		<key>NSUserAppleScriptTask</key>
		<string>purpleColor</string>
		<key>NSUserAutomatorTask</key>
		<string>purpleColor</string>
		<key>NSUserDefaults</key>
		<string>purpleColor</string>
		<key>NSUserNotification</key>
		<string>purpleColor</string>
		<key>NSUserNotificationCenter</key>
		<string>purpleColor</string>
		<key>NSUserScriptTask</key>
		<string>purpleColor</string>
		<key>NSUserUnixTask</key>
		<string>purpleColor</string>
		<key>NSUUID</key>
		<string>purpleColor</string>
		<key>NSValue</key>
		<string>purpleColor</string>
		<key>NSValueTransformer</key>
		<string>purpleColor</string>
		<key>NSWhoseSpecifier</key>
		<string>purpleColor</string>
		<key>NSXMLDocument</key>
		<string>purpleColor</string>
		<key>NSXMLDTD</key>
		<string>purpleColor</string>
		<key>NSXMLDTDNode</key>
		<string>purpleColor</string>
		<key>NSXMLElement</key>
		<string>purpleColor</string>
		<key>NSXMLNode</key>
		<string>purpleColor</string>
		<key>NSXMLParser</key>
		<string>purpleColor</string>
		<key>NSXPCConnection</key>
		<string>purpleColor</string>
		<key>NSXPCInterface</key>
		<string>purpleColor</string>
		<key>NSXPCListener</key>
		<string>purpleColor</string>
		<key>NSXPCListenerEndpoint</key>
		<string>purpleColor</string>
		<key>NSCoding</key>
		<string>purpleColor</string>
		<key>NSComparisonMethods</key>
		<string>purpleColor</string>
		<key>NSConnectionDelegate</key>
		<string>purpleColor</string>
		<key>NSCopying</key>
		<string>purpleColor</string>
		<key>purpleColor</key>
		<string>NSDecimalNumberBehaviors</string>
		<key>NSErrorRecoveryAttempting</key>
		<string>purpleColor</string>
		<key>NSFastEnumeration</key>
		<string>purpleColor</string>
		<key>NSFileManagerDelegate</key>
		<string>purpleColor</string>
		<key>NSFilePresenter</key>
		<string>purpleColor</string>
		<key>NSKeyedArchiverDelegate</key>
		<string>purpleColor</string>
		<key>NSKeyedUnarchiverDelegate</key>
		<string>purpleColor</string>
		<key>NSKeyValueCoding</key>
		<string>purpleColor</string>
		<key>NSKeyValueObserving</key>
		<string>purpleColor</string>
		<key>NSLocking</key>
		<string>purpleColor</string>
		<key>NSMachPortDelegate</key>
		<string>purpleColor</string>
		<key>NSMetadataQueryDelegate</key>
		<string>purpleColor</string>
		<key>NSMutableCopying</key>
		<string>purpleColor</string>
		<key>NSNetServiceBrowserDelegate</key>
		<string>purpleColor</string>
		<key>NSNetServiceDelegate</key>
		<string>purpleColor</string>
		<key>NSPortDelegate</key>
		<string>purpleColor</string>
		<key>NSScriptingComparisonMethods</key>
		<string>purpleColor</string>
		<key>NSScriptKeyValueCoding</key>
		<string>purpleColor</string>
		<key>NSScriptObjectSpecifiers</key>
		<string>purpleColor</string>
		<key>NSSecureCoding</key>
		<string>purpleColor</string>
		<key>NSSpellServerDelegate</key>
		<string>purpleColor</string>
		<key>NSStreamDelegate</key>
		<string>purpleColor</string>
		<key>NSURLAuthenticationChallengeSender</key>
		<string>purpleColor</string>
		<key>NSURLConnectionDataDelegate</key>
		<string>purpleColor</string>
		<key>NSURLConnectionDelegate</key>
		<string>purpleColor</string>
		<key>NSURLHandleClient</key>
		<string>purpleColor</string>
		<key>NSURLProtocolClient</key>
		<string>purpleColor</string>
		<key>NSUserNotificationCenterDelegate</key>
		<string>purpleColor</string>
		<key>NSXMLParserDelegate</key>
		<string>purpleColor</string>
		<key>NSXPCListenerDelegate</key>
		<string>purpleColor</string>
		<key>CIColor</key>
		<string>purpleColor</string>
		<key>CIImage</key>
		<string>purpleColor</string>
		<key>NSActionCell</key>
		<string>purpleColor</string>
		<key>NSAlert</key>
		<string>purpleColor</string>
		<key>NSAnimation</key>
		<string>purpleColor</string>
		<key>NSAnimationContext</key>
		<string>purpleColor</string>
		<key>NSApplication</key>
		<string>purpleColor</string>
		<key>NSArrayController</key>
		<string>purpleColor</string>
		<key>NSATSTypesetter</key>
		<string>purpleColor</string>
		<key>NSBezierPath</key>
		<string>purpleColor</string>
		<key>NSBitmapImageRep</key>
		<string>purpleColor</string>
		<key>NSBox</key>
		<string>purpleColor</string>
		<key>NSBrowser</key>
		<string>purpleColor</string>
		<key>NSBrowserCell</key>
		<string>purpleColor</string>
		<key>NSButton</key>
		<string>purpleColor</string>
		<key>NSButtonCell</key>
		<string>purpleColor</string>
		<key>NSCachedImageRep</key>
		<string>purpleColor</string>
		<key>NSCell</key>
		<string>purpleColor</string>
		<key>NSCIImageRep</key>
		<string>purpleColor</string>
		<key>NSClipView</key>
		<string>purpleColor</string>
		<key>NSCollectionView</key>
		<string>purpleColor</string>
		<key>NSCollectionViewItem</key>
		<string>purpleColor</string>
		<key>NSColor</key>
		<string>purpleColor</string>
		<key>NSColorList</key>
		<string>purpleColor</string>
		<key>NSColorPanel</key>
		<string>purpleColor</string>
		<key>NSColorPicker</key>
		<string>purpleColor</string>
		<key>NSColorSpace</key>
		<string>purpleColor</string>
		<key>NSColorWell</key>
		<string>purpleColor</string>
		<key>NSComboBox</key>
		<string>purpleColor</string>
		<key>NSComboBoxCell</key>
		<string>purpleColor</string>
		<key>NSControl</key>
		<string>purpleColor</string>
		<key>NSController</key>
		<string>purpleColor</string>
		<key>NSCursor</key>
		<string>purpleColor</string>
		<key>NSCustomImageRep</key>
		<string>purpleColor</string>
		<key>NSDatePicker</key>
		<string>purpleColor</string>
		<key>NSDatePickerCell</key>
		<string>purpleColor</string>
		<key>NSDictionaryController</key>
		<string>purpleColor</string>
		<key>NSDockTile</key>
		<string>purpleColor</string>
		<key>NSDocument</key>
		<string>purpleColor</string>
		<key>NSDocumentController</key>
		<string>purpleColor</string>
		<key>NSDraggingImageComponent</key>
		<string>purpleColor</string>
		<key>NSDraggingItem</key>
		<string>purpleColor</string>
		<key>NSDraggingSession</key>
		<string>purpleColor</string>
		<key>NSDrawer</key>
		<string>purpleColor</string>
		<key>NSEPSImageRep</key>
		<string>purpleColor</string>
		<key>NSEvent</key>
		<string>purpleColor</string>
		<key>NSFontCollection</key>
		<string>purpleColor</string>
		<key>NSFontDescriptor</key>
		<string>purpleColor</string>
		<key>NSFontManager</key>
		<string>purpleColor</string>
		<key>NSFontPanel</key>
		<string>purpleColor</string>
		<key>NSForm</key>
		<string>purpleColor</string>
		<key>NSFormCell</key>
		<string>purpleColor</string>
		<key>NSGlyphGenerator</key>
		<string>purpleColor</string>
		<key>NSGlyphInfo</key>
		<string>purpleColor</string>
		<key>NSGradient</key>
		<string>purpleColor</string>
		<key>NSGraphicsContext</key>
		<string>purpleColor</string>
		<key>NSHelpManager</key>
		<string>purpleColor</string>
		<key>NSImage</key>
		<string>purpleColor</string>
		<key>NSImageCell</key>
		<string>purpleColor</string>
		<key>NSImageRep</key>
		<string>purpleColor</string>
		<key>NSImageView</key>
		<string>purpleColor</string>
		<key>NSLayoutManager</key>
		<string>purpleColor</string>
		<key>NSLevelIndicator</key>
		<string>purpleColor</string>
		<key>NSLevelIndicatorCell</key>
		<string>purpleColor</string>
		<key>NSMatrix</key>
		<string>purpleColor</string>
		<key>NSMenu</key>
		<string>purpleColor</string>
		<key>NSMenuItem</key>
		<string>purpleColor</string>
		<key>NSMenuItemCell</key>
		<string>purpleColor</string>
		<key>NSMenuView</key>
		<string>purpleColor</string>
		<key>NSMutableFontCollection</key>
		<string>purpleColor</string>
		<key>NSMutableParagraphStyle</key>
		<string>purpleColor</string>
		<key>NSNib</key>
		<string>purpleColor</string>
		<key>NSNibConnector</key>
		<string>purpleColor</string>
		<key>NSNibControlConnector</key>
		<string>purpleColor</string>
		<key>NSNibOutletConnector</key>
		<string>purpleColor</string>
		<key>NSObjectController</key>
		<string>purpleColor</string>
		<key>NSOpenGLContext</key>
		<string>purpleColor</string>
		<key>NSOpenGLLayer</key>
		<string>purpleColor</string>
		<key>NSOpenGLPixelBuffer</key>
		<string>purpleColor</string>
		<key>NSOpenGLPixelFormat</key>
		<string>purpleColor</string>
		<key>NSOpenGLView</key>
		<string>purpleColor</string>
		<key>NSOpenPanel</key>
		<string>purpleColor</string>
		<key>NSOutlineView</key>
		<string>purpleColor</string>
		<key>NSPageController</key>
		<string>purpleColor</string>
		<key>NSPageLayout</key>
		<string>purpleColor</string>
		<key>NSPanel</key>
		<string>purpleColor</string>
		<key>NSParagraphStyle</key>
		<string>purpleColor</string>
		<key>NSPasteboard</key>
		<string>purpleColor</string>
		<key>NSPasteboardItem</key>
		<string>purpleColor</string>
		<key>NSPathCell</key>
		<string>purpleColor</string>
		<key>NSPathComponentCell</key>
		<string>purpleColor</string>
		<key>NSPathControl</key>
		<string>purpleColor</string>
		<key>NSPDFImageRep</key>
		<string>purpleColor</string>
		<key>NSPersistentDocument</key>
		<string>purpleColor</string>
		<key>NSPICTImageRep</key>
		<string>purpleColor</string>
		<key>NSPopover</key>
		<string>purpleColor</string>
		<key>NSPopUpButton</key>
		<string>purpleColor</string>
		<key>NSPopUpButtonCell</key>
		<string>purpleColor</string>
		<key>NSPredicateEditor</key>
		<string>purpleColor</string>
		<key>NSPredicateEditorRowTemplate</key>
		<string>purpleColor</string>
		<key>NSPrinter</key>
		<string>purpleColor</string>
		<key>NSPrintInfo</key>
		<string>purpleColor</string>
		<key>NSPrintOperation</key>
		<string>purpleColor</string>
		<key>NSPrintPanel</key>
		<string>purpleColor</string>
		<key>NSProgressIndicator</key>
		<string>purpleColor</string>
		<key>NSResponder</key>
		<string>purpleColor</string>
		<key>NSRuleEditor</key>
		<string>purpleColor</string>
		<key>NSRulerMarker</key>
		<string>purpleColor</string>
		<key>NSRulerView</key>
		<string>purpleColor</string>
		<key>NSRunningApplication</key>
		<string>purpleColor</string>
		<key>NSSavePanel</key>
		<string>purpleColor</string>
		<key>NSScreen</key>
		<string>purpleColor</string>
		<key>NSScroller</key>
		<string>purpleColor</string>
		<key>NSScrollView</key>
		<string>purpleColor</string>
		<key>NSSearchField</key>
		<string>purpleColor</string>
		<key>NSSearchFieldCell</key>
		<string>purpleColor</string>
		<key>NSSecureTextField</key>
		<string>purpleColor</string>
		<key>NSSecureTextFieldCell</key>
		<string>purpleColor</string>
		<key>NSSegmentedCell</key>
		<string>purpleColor</string>
		<key>NSSegmentedControl</key>
		<string>purpleColor</string>
		<key>NSShadow</key>
		<string>purpleColor</string>
		<key>NSSharingService</key>
		<string>purpleColor</string>
		<key>thisWillCrashIT</key>
		<string>purpleColor</string>
		<key>NSSlider</key>
		<string>purpleColor</string>
		<key>NSSliderCell</key>
		<string>purpleColor</string>
		<key>NSSound</key>
		<string>purpleColor</string>
		<key>NSSpeechRecognizer</key>
		<string>purpleColor</string>
		<key>NSSpeechSynthesizer</key>
		<string>purpleColor</string>
		<key>NSSpellChecker</key>
		<string>purpleColor</string>
		<key>NSSplitView</key>
		<string>purpleColor</string>
		<key>NSStatusBar</key>
		<string>purpleColor</string>
		<key>NSStatusItem</key>
		<string>purpleColor</string>
		<key>NSStepper</key>
		<string>purpleColor</string>
		<key>NSStepperCell</key>
		<string>purpleColor</string>
		<key>NSTableCellView</key>
		<string>purpleColor</string>
		<key>NSTableColumn</key>
		<string>purpleColor</string>
		<key>NSTableHeaderCell</key>
		<string>purpleColor</string>
		<key>NSTableHeaderView</key>
		<string>purpleColor</string>
		<key>NSTableRowView</key>
		<string>purpleColor</string>
		<key>NSTableView</key>
		<string>purpleColor</string>
		<key>NSTabView</key>
		<string>purpleColor</string>
		<key>NSTabViewItem</key>
		<string>purpleColor</string>
		<key>NSText</key>
		<string>purpleColor</string>
		<key>NSTextAttachment</key>
		<string>purpleColor</string>
		<key>NSTextAttachmentCell</key>
		<string>purpleColor</string>
		<key>NSTextBlock</key>
		<string>purpleColor</string>
		<key>NSTextContainer</key>
		<string>purpleColor</string>
		<key>NSTextField</key>
		<string>purpleColor</string>
		<key>NSTextFieldCell</key>
		<string>purpleColor</string>
		<key>NSTextFinder</key>
		<string>purpleColor</string>
		<key>NSTextInputContext</key>
		<string>purpleColor</string>
		<key>NSTextList</key>
		<string>purpleColor</string>
		<key>NSTextStorage</key>
		<string>purpleColor</string>
		<key>NSTextTab</key>
		<string>purpleColor</string>
		<key>NSTextTable</key>
		<string>purpleColor</string>
		<key>NSTextTableBlock</key>
		<string>purpleColor</string>
		<key>NSTextView</key>
		<string>purpleColor</string>
		<key>NSTokenField</key>
		<string>purpleColor</string>
		<key>NSTokenFieldCell</key>
		<string>purpleColor</string>
		<key>NSToolbar</key>
		<string>purpleColor</string>
		<key>NSToolbarItem</key>
		<string>purpleColor</string>
		<key>NSToolbarItemGroup</key>
		<string>purpleColor</string>
		<key>NSTouch</key>
		<string>purpleColor</string>
		<key>NSTrackingArea</key>
		<string>purpleColor</string>
		<key>NSTreeController</key>
		<string>purpleColor</string>
		<key>NSTreeNode</key>
		<string>purpleColor</string>
		<key>NSTypesetter</key>
		<string>purpleColor</string>
		<key>NSUserDefaultsController</key>
		<string>purpleColor</string>
		<key>NSView</key>
		<string>purpleColor</string>
		<key>NSViewAnimation</key>
		<string>purpleColor</string>
		<key>NSViewController</key>
		<string>purpleColor</string>
		<key>NSWindow</key>
		<string>purpleColor</string>
		<key>NSWindowController</key>
		<string>purpleColor</string>
		<key>NSWorkspace</key>
		<string>purpleColor</string>
		<key>NSAccessibility</key>
		<string>purpleColor</string>
		<key>NSAlertDelegate</key>
		<string>purpleColor</string>
		<key>NSAnimatablePropertyContainer</key>
		<string>purpleColor</string>
		<key>NSAnimationDelegate</key>
		<string>purpleColor</string>
		<key>NSApplicationDelegate</key>
		<string>purpleColor</string>
		<key>NSBrowserDelegate</key>
		<string>purpleColor</string>
		<key>NSChangeSpelling</key>
		<string>purpleColor</string>
		<key>NSCollectionViewDelegate</key>
		<string>purpleColor</string>
		<key>NSColorPickingCustom</key>
		<string>purpleColor</string>
		<key>NSColorPickingDefault</key>
		<string>purpleColor</string>
		<key>NSComboBoxCellDataSource</key>
		<string>purpleColor</string>
		<key>NSComboBoxDataSource </key>
		<string>purpleColor</string>
		<key>NSComboBoxDelegate</key>
		<string>purpleColor</string>
		<key>NSControlTextEditingDelegate</key>
		<string>purpleColor</string>
		<key>NSDatePickerCellDelegate</key>
		<string>purpleColor</string>
		<key>NSDictionaryControllerKeyValuePair</key>
		<string>purpleColor</string>
		<key>NSDockTilePlugIn</key>
		<string>purpleColor</string>
		<key>NSDraggingDestination</key>
		<string>purpleColor</string>
		<key>NSDraggingInfo</key>
		<string>purpleColor</string>
		<key>NSDraggingSource</key>
		<string>purpleColor</string>
		<key>NSDrawerDelegate</key>
		<string>purpleColor</string>
		<key>NSEditor</key>
		<string>purpleColor</string>
		<key>NSEditorRegistration</key>
		<string>purpleColor</string>
		<key>NSFontPanelValidation</key>
		<string>purpleColor</string>
		<key>NSGlyphStorage</key>
		<string>purpleColor</string>
		<key>NSIgnoreMisspelledWords</key>
		<string>purpleColor</string>
		<key>NSImageDelegate</key>
		<string>purpleColor</string>
		<key>NSKeyValueBindingCreation</key>
		<string>purpleColor</string>
		<key>NSLayoutManagerDelegate</key>
		<string>purpleColor</string>
		<key>NSMatrixDelegate</key>
		<string>purpleColor</string>
		<key>NSMenuDelegate</key>
		<string>purpleColor</string>
		<key>NSMenuValidation</key>
		<string>purpleColor</string>
		<key>NSNibAwaking</key>
		<string>purpleColor</string>
		<key>NSOpenSavePanelDelegate</key>
		<string>purpleColor</string>
		<key>NSOutlineViewDataSource</key>
		<string>purpleColor</string>
		<key>NSOutlineViewDelegate</key>
		<string>purpleColor</string>
		<key>NSPageControllerDelegate</key>
		<string>purpleColor</string>
		<key>NSPasteboardItemDataProvider</key>
		<string>purpleColor</string>
		<key>NSPasteboardReading</key>
		<string>purpleColor</string>
		<key>NSPasteboardWriting</key>
		<string>purpleColor</string>
		<key>NSPathCellDelegate</key>
		<string>purpleColor</string>
		<key>NSPathControlDelegate</key>
		<string>purpleColor</string>
		<key>NSPlaceholders</key>
		<string>purpleColor</string>
		<key>NSPopoverDelegate</key>
		<string>purpleColor</string>
		<key>NSPrintPanelAccessorizing</key>
		<string>purpleColor</string>
		<key>NSRuleEditorDelegate</key>
		<string>purpleColor</string>
		<key>NSServicesRequests</key>
		<string>purpleColor</string>
		<key>NSSharingServiceDelegate</key>
		<string>purpleColor</string>
		<key>NSSharingServicePickerDelegate</key>
		<string>purpleColor</string>
		<key>NSSoundDelegate</key>
		<string>purpleColor</string>
		<key>NSSpeechRecognizerDelegate</key>
		<string>purpleColor</string>
		<key>NSSpeechSynthesizerDelegate</key>
		<string>purpleColor</string>
		<key>NSSplitViewDelegate</key>
		<string>purpleColor</string>
		<key>NSTableViewDataSource</key>
		<string>purpleColor</string>
		<key>NSTableViewDelegate</key>
		<string>purpleColor</string>
		<key>NSTabViewDelegate</key>
		<string>purpleColor</string>
		<key>NSTextDelegate</key>
		<string>purpleColor</string>
		<key>NSTextFieldDelegate</key>
		<string>purpleColor</string>
		<key>NSTextFinderBarContainer</key>
		<string>purpleColor</string>
		<key>NSTextFinderClient</key>
		<string>purpleColor</string>
		<key>NSTextInput</key>
		<string>purpleColor</string>
		<key>NSTextInputClient</key>
		<string>purpleColor</string>
		<key>NSTextLayoutOrientationProvider</key>
		<string>purpleColor</string>
		<key>NSTextViewDelegate</key>
		<string>purpleColor</string>
		<key>NSTokenFieldCellDelegate</key>
		<string>purpleColor</string>
		<key>NSTokenFieldDelegate</key>
		<string>purpleColor</string>
		<key>NSToolbarDelegate</key>
		<string>purpleColor</string>
		<key>NSToolbarItemValidation</key>
		<string>purpleColor</string>
		<key>NSToolTipOwner</key>
		<string>purpleColor</string>
		<key>NSUserInterfaceItemIdentification</key>
		<string>purpleColor</string>
		<key>NSUserInterfaceItemSearching</key>
		<string>purpleColor</string>
		<key>NSUserInterfaceValidations</key>
		<string>purpleColor</string>
		<key>NSValidatedUserInterfaceItem</key>
		<string>purpleColor</string>
		<key>NSWindowDelegate</key>
		<string>purpleColor</string>
		<key>NSWindowRestoration</key>
		<string>purpleColor</string>
		<key>NSWindowScripting</key>
		<string>purpleColor</string>
		<key>NSAnimationEffect</key>
		<string>purpleColor</string>
		<key>NSBrowserAuxiliaryOpaque</key>
		<string>purpleColor</string>
		<key>NSColorListAuxiliaryOpaque</key>
		<string>purpleColor</string>
		<key>NSFocusRingPlacement</key>
		<string>purpleColor</string>
		<key>NSFocusRingType</key>
		<string>purpleColor</string>
		<key>NSInterfaceStyle</key>
		<string>purpleColor</string>
		<key>NSModalSession</key>
		<string>purpleColor</string>
		<key>NSOpenGLContextAuxiliary</key>
		<string>purpleColor</string>
		<key>NSOpenGLGlobalOption</key>
		<string>purpleColor</string>
		<key>NSOpenGLPixelFormatAuxiliary</key>
		<string>purpleColor</string>
		<key>NSSavePanelAuxiliaryOpaque</key>
		<string>purpleColor</string>
		<key>NSScreenAuxiliaryOpaque</key>
		<string>purpleColor</string>
		<key>NSTabViewItemAuxiliaryOpaque</key>
		<string>purpleColor</string>
		<key>NSTypesetterGlyphInfo</key>
		<string>purpleColor</string>
		<key>NSLayoutConstraint</key>
		<string>purpleColor</string>
		<key>NSStringDrawingContext</key>
		<string>purpleColor</string>
		<key>UIAcceleration</key>
		<string>purpleColor</string>
		<key>UIAccelerometer</key>
		<string>purpleColor</string>
		<key>UIAccessibilityElement</key>
		<string>purpleColor</string>
		<key>UIActionSheet</key>
		<string>purpleColor</string>
		<key>UIActivity</key>
		<string>purpleColor</string>
		<key>UIActivityIndicatorView</key>
		<string>purpleColor</string>
		<key>UIActivityItemProvider</key>
		<string>purpleColor</string>
		<key>UIActivityViewController</key>
		<string>purpleColor</string>
		<key>UIAlertView</key>
		<string>purpleColor</string>
		<key>UIApplication</key>
		<string>purpleColor</string>
		<key>UIBarButtonItem</key>
		<string>purpleColor</string>
		<key>UIBarItem</key>
		<string>purpleColor</string>
		<key>UIBezierPath</key>
		<string>purpleColor</string>
		<key>UIButton</key>
		<string>purpleColor</string>
		<key>UICollectionReusableView</key>
		<string>purpleColor</string>
		<key>UICollectionView</key>
		<string>purpleColor</string>
		<key>UICollectionViewCell</key>
		<string>purpleColor</string>
		<key>UICollectionViewController</key>
		<string>purpleColor</string>
		<key>UICollectionViewFlowLayout</key>
		<string>purpleColor</string>
		<key>UICollectionViewLayout</key>
		<string>purpleColor</string>
		<key>UICollectionViewLayoutAttributes</key>
		<string>purpleColor</string>
		<key>UICollectionViewUpdateItem</key>
		<string>purpleColor</string>
		<key>UIColor</key>
		<string>purpleColor</string>
		<key>UIControl</key>
		<string>purpleColor</string>
		<key>UIDatePicker</key>
		<string>purpleColor</string>
		<key>UIDevice</key>
		<string>purpleColor</string>
		<key>UIDictationPhrase</key>
		<string>purpleColor</string>
		<key>UIDocument</key>
		<string>purpleColor</string>
		<key>UIDocumentInteractionController</key>
		<string>purpleColor</string>
		<key>UIEvent</key>
		<string>purpleColor</string>
		<key>UIFont</key>
		<string>purpleColor</string>
		<key>UIGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UIImage</key>
		<string>purpleColor</string>
		<key>UIImagePickerController</key>
		<string>purpleColor</string>
		<key>UIImageView</key>
		<string>purpleColor</string>
		<key>UILabel</key>
		<string>purpleColor</string>
		<key>UILocalizedIndexedCollation</key>
		<string>purpleColor</string>
		<key>UILocalNotification</key>
		<string>purpleColor</string>
		<key>UILongPressGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UIManagedDocument</key>
		<string>purpleColor</string>
		<key>UIMarkupTextPrintFormatter</key>
		<string>purpleColor</string>
		<key>UIMenuController</key>
		<string>purpleColor</string>
		<key>UIMenuItem</key>
		<string>purpleColor</string>
		<key>UINavigationBar</key>
		<string>purpleColor</string>
		<key>UINavigationController</key>
		<string>purpleColor</string>
		<key>UINavigationItem</key>
		<string>purpleColor</string>
		<key>UINib</key>
		<string>purpleColor</string>
		<key>UIPageControl</key>
		<string>purpleColor</string>
		<key>UIPageViewController</key>
		<string>purpleColor</string>
		<key>UIPanGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UIPasteboard</key>
		<string>purpleColor</string>
		<key>UIPickerView</key>
		<string>purpleColor</string>
		<key>UIPinchGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UIPopoverBackgroundView</key>
		<string>purpleColor</string>
		<key>UIPopoverController</key>
		<string>purpleColor</string>
		<key>UIPrintFormatter</key>
		<string>purpleColor</string>
		<key>UIPrintInfo</key>
		<string>purpleColor</string>
		<key>UIPrintInteractionController</key>
		<string>purpleColor</string>
		<key>UIPrintPageRenderer</key>
		<string>purpleColor</string>
		<key>UIPrintPaper</key>
		<string>purpleColor</string>
		<key>UIProgressView</key>
		<string>purpleColor</string>
		<key>UIReferenceLibraryViewController</key>
		<string>purpleColor</string>
		<key>UIRefreshControl</key>
		<string>purpleColor</string>
		<key>UIResponder</key>
		<string>purpleColor</string>
		<key>UIRotationGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UIScreen</key>
		<string>purpleColor</string>
		<key>UIScreenMode</key>
		<string>purpleColor</string>
		<key>UIScrollView</key>
		<string>purpleColor</string>
		<key>UISearchBar</key>
		<string>purpleColor</string>
		<key>UISearchDisplayController</key>
		<string>purpleColor</string>
		<key>UISegmentedControl</key>
		<string>purpleColor</string>
		<key>UISimpleTextPrintFormatter</key>
		<string>purpleColor</string>
		<key>UISlider</key>
		<string>purpleColor</string>
		<key>UISplitViewController</key>
		<string>purpleColor</string>
		<key>UIStepper</key>
		<string>purpleColor</string>
		<key>UIStoryboard</key>
		<string>purpleColor</string>
		<key>UIStoryboardPopoverSegue</key>
		<string>purpleColor</string>
		<key>UIStoryboardSegue</key>
		<string>purpleColor</string>
		<key>UISwipeGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UISwitch</key>
		<string>purpleColor</string>
		<key>UITabBar</key>
		<string>purpleColor</string>
		<key>UITabBarController</key>
		<string>purpleColor</string>
		<key>UITabBarItem</key>
		<string>purpleColor</string>
		<key>UITableView</key>
		<string>purpleColor</string>
		<key>UITableViewCell</key>
		<string>purpleColor</string>
		<key>UITableViewController</key>
		<string>purpleColor</string>
		<key>UITableViewHeaderFooterView</key>
		<string>purpleColor</string>
		<key>UITapGestureRecognizer</key>
		<string>purpleColor</string>
		<key>UITextField</key>
		<string>purpleColor</string>
		<key>UITextInputMode</key>
		<string>purpleColor</string>
		<key>UITextInputStringTokenizer</key>
		<string>purpleColor</string>
		<key>UITextPosition</key>
		<string>purpleColor</string>
		<key>UITextRange</key>
		<string>purpleColor</string>
		<key>UITextSelectionRect</key>
		<string>purpleColor</string>
		<key>UITextView</key>
		<string>purpleColor</string>
		<key>UIToolbar</key>
		<string>purpleColor</string>
		<key>UITouch</key>
		<string>purpleColor</string>
		<key>UIVideoEditorController</key>
		<string>purpleColor</string>
		<key>UIView</key>
		<string>purpleColor</string>
		<key>UIViewController</key>
		<string>purpleColor</string>
		<key>UIViewPrintFormatter</key>
		<string>purpleColor</string>
		<key>UIWebView</key>
		<string>purpleColor</string>
		<key>UIWindow</key>
		<string>purpleColor</string>
		<key>UIAccessibility</key>
		<string>purpleColor</string>
		<key>UIAccessibilityAction</key>
		<string>purpleColor</string>
		<key>UIAccessibilityContainer</key>
		<string>purpleColor</string>
		<key>UIAccessibilityFocus</key>
		<string>purpleColor</string>
		<key>UIActionSheetDelegate</key>
		<string>purpleColor</string>
		<key>UIActivityItemSource</key>
		<string>purpleColor</string>
		<key>UIAlertViewDelegate</key>
		<string>purpleColor</string>
		<key>UIAppearance</key>
		<string>purpleColor</string>
		<key>UIAppearanceContainer</key>
		<string>purpleColor</string>
		<key>UIApplicationDelegate</key>
		<string>purpleColor</string>
		<key>UICollectionViewDataSource</key>
		<string>purpleColor</string>
		<key>UICollectionViewDelegate</key>
		<string>purpleColor</string>
		<key>UICollectionViewDelegateFlowLayout</key>
		<string>purpleColor</string>
		<key>UIDataSourceModelAssociation</key>
		<string>purpleColor</string>
		<key>UIDocumentInteractionControllerDelegate</key>
		<string>purpleColor</string>
		<key>UIGestureRecognizerDelegate</key>
		<string>purpleColor</string>
		<key>UIKeyInput</key>
		<string>purpleColor</string>
		<key>UINavigationBarDelegate</key>
		<string>purpleColor</string>
		<key>UINavigationControllerDelegate</key>
		<string>purpleColor</string>
		<key>UIPageViewControllerDataSource</key>
		<string>purpleColor</string>
		<key>UIPageViewControllerDelegate</key>
		<string>purpleColor</string>
		<key>UIPickerViewAccessibilityDelegate</key>
		<string>purpleColor</string>
		<key>UIPickerViewDataSource</key>
		<string>purpleColor</string>
		<key>UIPickerViewDelegate</key>
		<string>purpleColor</string>
		<key>UIPopoverControllerDelegate</key>
		<string>purpleColor</string>
		<key>UIPrintInteractionControllerDelegate</key>
		<string>purpleColor</string>
		<key>UIResponderStandardEditActions</key>
		<string>purpleColor</string>
		<key>UIScrollViewDelegate</key>
		<string>purpleColor</string>
		<key>UISearchBarDelegate</key>
		<string>purpleColor</string>
		<key>UISearchDisplayDelegate</key>
		<string>purpleColor</string>
		<key>UISplitViewControllerDelegate</key>
		<string>purpleColor</string>
		<key>UITabBarControllerDelegate</key>
		<string>purpleColor</string>
		<key>UITabBarDelegate</key>
		<string>purpleColor</string>
		<key>UITableViewDataSource</key>
		<string>purpleColor</string>
		<key>UITableViewDelegate</key>
		<string>purpleColor</string>
		<key>UITextFieldDelegate</key>
		<string>purpleColor</string>
		<key>UITextInput</key>
		<string>purpleColor</string>
		<key>UITextInputDelegate</key>
		<string>purpleColor</string>
		<key>UITextInputTokenizer</key>
		<string>purpleColor</string>
		<key>UITextInputTraits</key>
		<string>purpleColor</string>
		<key>UITextViewDelegate</key>
		<string>purpleColor</string>
		<key>UIVideoEditorControllerDelegate</key>
		<string>purpleColor</string>
		<key>UIViewControllerRestoration</key>
		<string>purpleColor</string>
		<key>UIWebViewDelegate</key>
		<string>purpleColor</string>
		<key>UIBarStyle</key>
		<string>purpleColor</string>
		<key>UIDataDetectorTypes</key>
		<string>purpleColor</string>
		<key>UIEdgeInsets</key>
		<string>purpleColor</string>
		<key>UIOffset</key>
		<string>purpleColor</string>
	</dict>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
